{% extends 'base.html.twig' %}

{% block title %}Ajouter une photo{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle photo</h1>

    <div class="row">
        <div class="col-md-8">
            {{ include('photo/_form.html.twig') }}
        </div>
    </div>

    <a href="{{ path('app_photo_index') }}" class="btn btn-secondary mt-3">
        <i class="bi bi-arrow-left"></i> Retour à la liste
    </a>
{% endblock %} 